In [1]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests

In [2]:
# Create empty dictionary to store the Mars information for the Mongo db for
# part 2 of the homework - refer to class exercise #5 
mars = {}

In [3]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [4]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

####  NASA Mars News
Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [5]:
# Scrape the [NASA Mars News Site](https://mars.nasa.gov/news/)
url = 'https://mars.nasa.gov/news/'

# Retrieve page with the requests module
browser.visit(url)
html = browser.html

# Create BeautifulSoup object; parse with 'lxml'
soup = bs(html,'html.parser')

In [8]:
title = soup.find('div', class_='content_title').find('a')
title

In [9]:
news_title = title.text.strip()
news_title

'After a Reset, Curiosity Is Operating Normally'

In [11]:
paragraph = soup.find('div', class_='article_teaser_body')
paragraph

In [12]:
paragraph = paragraph.text.strip()
paragraph

'Curiosity has returned to science operations and is once again exploring the clay unit.'

#### JPL Mars Space Images - Featured Image
-> Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.  
-> Make sure to find the image url to the full size .jpg image.

-> Make sure to save a complete url string for this image.

In [13]:
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

# Retrieve page with the requests module
browser.visit(url)

In [14]:
new_html = browser.html
soup = bs(new_html, 'html.parser')

In [15]:
link_image_url = soup.find('a', class_="button fancybox")
link_image_url

<a class="button fancybox" data-description="Ultraviolet and infrared images from NASA's Cassini spacecraft and Hubble Space Telescope show active and quiet auroras at Saturn's north and south poles." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA17900_ip.jpg" data-link="/spaceimages/details.php?id=PIA17900" data-title="Dance of Saturn's Auroras" id="full_image">
					FULL IMAGE
				  </a>

In [16]:
link_image = soup.find('a',{'data-fancybox-href': True}).get('data-fancybox-href')
link_image

'/spaceimages/images/mediumsize/PIA17900_ip.jpg'

In [17]:
main_url = 'https://www.jpl.nasa.gov'
feature_image_url = main_url + link_image
feature_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17900_ip.jpg'

### Mars Weather
Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page. Save the tweet text for the weather report as a variable called mars_weather.

Example:  mars_weather = 'Sol 1801 (Aug 30, 2017), Sunny, high -21C/-5F, low -80C/-112F, pressure at 8.82 hPa, daylight 06:09

In [18]:
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://twitter.com/marswxreport?lang=en'

# Retrieve page with the requests module
browser.visit(url)
html = browser.html

# Create BeautifulSoup object; parse with 'lxml'
soup = bs(html,'html.parser')

In [19]:
mars_weather = soup.find('div', class_='js-tweet-text-container').find('p').text.strip()
mars_weather

'InSight sol 92 (2019-03-01) low -94.4ºC (-137.9ºF) high -12.9ºC (8.8ºF)\nwinds from the SW at 4.6 m/s (10.2 mph) gusting to 10.4 m/s (23.2 mph)\npressure at 7.20 hPapic.twitter.com/zxXhRFOwTo'

#### Mars Facts
Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
Use Pandas to convert the data to a HTML table string.

In [20]:
import pandas as pd

In [21]:
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://space-facts.com/mars/'
facts = ['Equatorial Diameter', 'Polar Diameter', 'Mass', 'Moons', 'Orbit Distance', 'Surface Temperature', 'First Record', 'Recorded By']

In [22]:
# Use Panda's `read_html` to parse the url
### BEGIN SOLUTION
tables = pd.read_html(url)
tables
### END SOLUTION

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [23]:
type(tables)

list

In [24]:
df = tables[0]
df.columns = ['Profile', 'Data']
df.head()

                Profile                           Data
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [25]:
df.set_index('Profile', inplace=True)
df.head()

                                               Data
Profile
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)

In [26]:
print(df)

                                               Data
Profile
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

#### Mars Hemispheres
Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.
You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.
Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.
Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

####### Example:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "..."},
    {"title": "Cerberus Hemisphere", "img_url": "..."},
    {"title": "Schiaparelli Hemisphere", "img_url": "..."},
    {"title": "Syrtis Major Hemisphere", "img_url": "..."},
]

In [29]:
browser = Browser('chrome', headless=False)
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [30]:
html= browser.html
soup = bs(html, 'html.parser')

In [31]:
headlines = soup.find_all('h3')

In [32]:
headlines = [h3.text.strip() for h3 in headlines]

In [33]:
image_links = []
link_1 = "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg"
link_2 = "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg"
link_3 = "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg"
link_4 = "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg"
image_links = [link_1, link_2, link_3, link_4]

In [34]:
hemisphere_links = [{'title': headline, 'img_url':image_link} for headline, image_link in zip(headlines,image_links)]